.title-admin-page{
  display: flex;
  justify-content: space-between;
  background-color: #31363f;
  color: #f0572d;
  padding: 30px;
}

.back-button{
  background-color: #f0572d;
  color: #31363f;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.admin-page{
  background-color: #EEEEF1;
  height: 85vh;
  padding: 40px;
}


.admin-page h3{
  /* margin-top: 20px; */
  margin-left: 30px;
  padding-top: 20px;
}

.form{
  margin: auto;
  padding: 10px;
  margin: 30px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 3px rgba(141, 140, 140, 0.5);
}

.form section div{
  display: flex;
  flex-direction: column;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

.form .principal-info div input{
  width: 650px;
  height: 30px;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
}

.form .principal-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.description-section{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

.description-section input{
  width: 100vh;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}


.add-product{
  background-color: #f0572d;
  margin: auto;
  display: flex;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.add-product:hover{
  background-color: #31363f;
  color: #f0572d; 
}

@media(max-width: 500px){

  .admin-page h3{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
  }


  .form .principal-info{
    display: flex;
    flex-direction: column;
  }

  .form .principal-info div input{
    width: 300px;
  }

  .admin-page{  
    height: 100vh;
    margin-bottom: 50px;
  }
}

@media(min-width: 700px) and (max-width: 1000px){
  .form .principal-info{
    display: flex;
    flex-direction: column;
  }

  .admin-page{
    height: 100vh;
    margin-bottom: 50px;
  }

}