.title-admin-page{
  display: flex;
  justify-content: space-between;
  background-color: #31363f;
  color: #f0572d;
  padding: 30px;
}

.back-button{
  background-color: #f0572d;
  color: #31363f;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.admin-page h3{
  color: #f0572d;
  margin-bottom: 30px;
}

.admin-page{
  background-color: #EEEEF1;
  height: 100vh;
  padding: 40px;
}

.form form{
  background-color: #ffffff;
  padding: 20px;
}

.principal-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.principal-info div{
  display: flex;
  flex-direction: column;
}

.principal-info div input{
  width: 650px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.add-images{
  margin-top: 50px;
  margin: auto;
  margin-left: 10px
}

.add-images input{
  width: 300px;
  height: 30px;
  padding: 8px;
  margin: auto;
  margin-right: 30px;
  margin-top: 10px;
  border-radius: 8px;
}

.add-more-info{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add-more-info div{
  display: flex;
  flex-direction: column;
}

.add-description{
  margin-top: 20px;
}

.add-description div{
  flex-direction: column;
  display: flex;
  margin: auto;
}

.add-description label{
  margin-bottom: 10px;
}

.add-description input{
  height: 150px;
  width: 500px;
  padding: 8px;
  border-radius: 10px;
}

.add-product{
  margin: auto;
  background-color: #f0572d;
  display: flex;
  border: none;
  padding: 8px;
  border-radius: 10px;
}

.add-product:hover{
  margin: auto;
  background-color: #31363f;
  color: #f0572d;
  display: flex;
  border: none;
  padding: 8px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .principal-info{
    display: flex;
    flex-direction: column;
  }

  .add-more-info{
    display: flex;
    flex-direction: column;
  }

  .admin-page{
    height: 50%;
  }

  /* .form form{
    height: 50%;
  } */
  .add-product{
    margin-top: 20px;
  }
}

@media(min-width: 700px) and (max-width: 1000px){
  .admin-page h3{
    margin: 10px;
  }

  .admin-page{
    padding: 30px;
    height: 100%;
  }

  .form {
    padding-bottom: 50px;
    height: 10%;
  }

  .principal-info{
    display: flex;
    flex-direction: column;
  }

  .add-more-info{
    display: flex;
    justify-content: space-around;
  }

  .add-more-info select{
    width: 400px;
  }

  .add-description{
    margin-top: 0px;
  }

  .add-description input{
    height: 50px;
  }

  .add-product{
    margin: auto;
    margin-top: 10px;
  }
}