/* lista de autos */

.auto-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


@media (max-width: 600px){
  .auto-list{
    display: flex;
    flex-direction: column;
  }
}

@media(min-width: 700px) and (max-width: 1000px){
  .auto-list{
    display: flex;
    flex-direction: column;
  }
}