/* Seccion del titulo */
.title-section  {
  background-color: #31363f;
  color: #f0572d;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

/* zona del titulo */
.title-of-product{
  margin-top: 10px;
  color: #dfe4ea;
}

/* estilos del boton */
.button-back-menu{
  background-color: #f0572d;
  color: #31363f;
  border-radius: 4px;
  width: 90px;
  height: 40px;
  border: none;
}

.button-back-menu:hover{
  background-color: #ffffff;
  color: #31363f;
}


/* booking zone */
.booking-zone{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #EBEBEE;
  padding-bottom: 40px;
}

/* rellenar datos */
.fill-data h3{
  color: #f0572d;
  margin-bottom: 10px;
}

.data{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #ffffff;
  padding: 20px;
  height: 250px;
  border-radius: 8px;
}

.data div{
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.data div label{
  margin-bottom: 10px;
}

.data div input{
  width: 400px;
  height: 40px;
  padding: 10px;
}


/* booking details */
.booking-details{
  background-color: #ffffff;
  border-radius: 4px;
  width: 450px;
  margin-right: 20px;
}

.booking-details h3{
  padding: 10px;
}

.booking-details img{
  height: 300px;
  width: 450px;
  object-fit: cover;
}

.booking-data{
  padding: 10px;
  height: 280px;
}

.product-name-category{
  margin-top: 5px;
  color: #8c8d8e;
}

.product-name-city{
  margin-top: 5px;
}

.check{
  margin-top: 20px;
}

.check div{
  margin-bottom: 10px;
}

.booking-data button{
  /* margin-bottom: 10px; */
  background-color: #f0572d;
  padding: 10px;
  display: flex;
  margin: auto;
  border: none;
  border-radius: 4px;
}

.booking-data button:hover{
  background-color: #31363f;
  color: #f0572d;
}



/* zona calendario */
.calendary-zone-titles{
  position: absolute;
  top: 600px;
  margin-left: 30px;
}

.calendary-booking{
  position: absolute;
  top: 630px;
  width: 700px;
  margin-left: 15px;
}

.select-time{
  padding: 30px;
  background-color: #31363f;
  color: #ffffff;
}

.select-time-title{
  margin-bottom: 15px;
  color: #f0572d;
}

.select-time-p{
  margin-bottom: 10px;
}

.select-time select{
  margin-top: 20px;
  padding: 8px;
  border: none;
  /* background-color: #f0572d; */
  border-radius: 8px;
}


/* mas info */
.more-info-booking{
  padding: 30px;
  padding-bottom: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.more-info-booking h3{
  text-align: center;
  margin-left: 50px;
  margin-bottom: 30px; 
  color: #f0572d;
}

.more-info-details{
  display: flex;
  justify-content: space-around;
}

.more-info-details h4{
  margin-bottom: 20px;
  color: #f0572d;
  /* margin-left: 30px; */
}

.more-info-details div{
  margin-left: 50px;
  width: 300px;
}

.more-info-details p{
  margin-bottom: 10px;
}

@media (max-width: 500px){
  .booking-zone{
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
  }

  .booking-details{
    margin-top: 10px;
  }

  .fill-data{
    flex-direction: column;
    display: flex;
  }

  .data{
    display: flex;
    flex-direction: column;
    height: 400px;
  }

  .calendary-zone-titles{
    position: absolute;
    top: 1410px;
    text-align: center;
  }

  .calendary-booking{
    position: absolute;
    top: 1400px;
    margin: 0px;
    padding: 40px;
  }

  .more-info-booking{
    padding: 30px;
  }

  .more-info-details div{
    /* width: 200px; */
    margin-bottom: 50px;
    margin-right: 30px;
  }

  .more-info-details div p{
    width: 100px;
  }

}


@media(min-width: 700px) and (max-width: 1000px){
  .booking-zone{
    padding-bottom: 390px;
  }

  .booking-details{
    display: none;
  }
}