.open-galery-button {
  padding: 4px;
  height: 30px;
  border-width: 0px;
  border-radius: 8px;
  background-color: #F0572D;
  position: absolute;
  right: 440px;
  top: 780px;
}

.open-galery-button:hover {
  background-color: #31363F;
  color: #F0572D;
}

.window {
  margin-top: 400px;
  margin-left: 800px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 800px;
  max-height: 990px;
  padding-top: 40px;
}


.carousel {
  display: flex;
  flex-direction: column;
  width: 700px;
  justify-content: center;
}

.carousel img {
  max-height: 320px;
  max-width: 600px;
  /* margin-right: 600px; */
}

@media (max-width: 500px) {
  .open-galery-button{
    right: 20px;
    top: 730px;
  }
}