/* cards de categoria */
.category-card {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* img de categoria */
.category-card img {
  height: 250px;
  width: 400px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* info de categoria */
.info {
  background-color: #ffffff;
  color: #191b1d;
  padding: 10px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 5px 5px #ccd1d5;
}

.category-title {
  text-decoration: none;
  list-style: none;
}


/* cantidad */
.quantity {
  text-decoration: none;
  list-style: none;
  color: #f0572d;
}