/* estilo de la zona de categorias */
.categorys {
  display: flex;
}

/* responsive */
@media (max-width: 500px){
  .categorys{
    display: flex;
    flex-direction: column;
  }
}

.link-to-category{
  text-decoration: none;
}

@media (min-width: 1000px) {
  .categorys{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

