/* estilo de la zona de categorias */
.categorys {
  display: flex;
}

/* responsive */
@media (max-width: 600px){
  .categorys{
    display: flex;
    flex-direction: column;
  }
}

.link-to-category{
  text-decoration: none;
}