.category{
  background-color: #31363F;
  color: #FFFFFF;
  position: relative;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-back{
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #f0572d;
}

.auto-list-filter{
  margin: 50px;
}

/* Esta modificando el boton*/

/* a{
  text-decoration: none;
  display: flex;
  margin-top: 30px;
} */