@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* estilos del footer */
.footer {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Quicksand';
  background-color: #f0572d;
}

.footer img {
  margin: 15px;
}
