@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* estilos del header */
.header {
  background-color: #f0572d;
  display: flex;
  padding: 9px;
  justify-content: space-between;
  font-family: 'Quicksand';
}

/* estilos del logo */
.logo {
  display: flex;
  margin: 15px;
  height: 60px;
  text-decoration: none;
}

/* estilos del slogan del logo */
.slogan {
  font-size: 16pt;
  margin-top: 20px;
  margin-left: 5px;
  color: #191b1d;
}


.user{
  display: flex;
  justify-content: right;
  align-items: center;
}

/* estilos de los botones (registro e inicio de sesion) */
.buttons {
  background-color: #dfe4ea;
  margin: 30px;
  padding: 8px;
  width: 190px;
  border-radius: 4px;
  font-family: 'Quicksand';
}

.buttons:hover {
  color: #f0572d;
  background-color: #31363f;
  border-color: #191b1d;
}


/* logueo */
.initials{
  color: #dfe4ea;
  background-color: #202933;
  padding: 8px;
  border-radius: 50px;
}


.welcome-mensagge{
  margin-left: 10px;
}



/* responsive */

@media (max-width: 400px){
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   
  .header img{
    height: 60px;
    width: 150px;
    /* margin-top: 10px; */
  }


  .slogan {
    display: none;
  }

  .initials{
    display: none;
  }

  .welcome-mensagge{
    display: none;
  }


  .buttons {
    border-width: 0px;
  }

  .buttons{
    margin-right: 5px;
  }
}