@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* estilos del navbar, busqueda */
.navbar {
  text-align: center;
  color: #dfe4ea;
  background-color: #191b1d;
  padding: 30px;
  font-family: 'Quicksand';
}

/* estilos del formulario */
.formulario {
  margin: 20px;
}

/* seleccion de provincias */
.provincias {
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  height: 40px;
  width: 300px;
  font-family: 'Quicksand';
  background-color: #dfe4ea;
  border-width: 1px;
}

/* input*/
.formulario input {
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  height: 40px;
  width: 300px;
  font-family: 'Quicksand';
  background-color: #dfe4ea;
  border-width: 1px;
}

/* estilos del boton de busqueda*/
.button-submit {
  padding: 5px;
  width: 180px;
  height: 45px;
  border-radius: 4px;
  border-width: 1px;
  font-family: 'Quicksand';
  background-color: #f0572d;
  color: #dfe4ea;
}

.button-submit:hover {
  background-color: #31363f;
  color: #dfe4ea;
}
