@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/* estilos del navbar, busqueda */
.navbar {
  text-align: center;
  color: #dfe4ea;
  background-color: #191b1d;
  padding: 30px;
  font-family: 'Quicksand';
}

/* estilos del formulario */
.formulario {
  margin: 20px;
  display: flex;
  justify-content: center;
}

/* seleccion de provincias */
.provincias {
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  height: 40px;
  width: 300px;
  font-family: 'Quicksand';
  background-color: #dfe4ea;
  border-width: 1px;
}

.select-province-text {
  margin: 5px;
  width: 300px;
}

.select-province {
  height: 40px;
  width: 500px;
  margin: 8px;
  border-radius: 4px;
  padding: 8px;
  font-family: 'Quicksand';
}

/* input*/
.formulario input {
  display: flex;
  margin: 8px;
  padding: 8px;
  height: 40px;
  width: 870px;
  font-family: 'Quicksand';
  background-color: #dfe4ea;
  border-width: 1px;
  border-radius: 4px;
}

/* estilos del boton de busqueda*/
.button-submit {
  padding-top: 10px;
  width: 200px;
  height: 40px;
  margin-top: 8px;
  border-radius: 4px;
  border-width: 1px;
  font-family: 'Quicksand';
  background-color: #f0572d;
  color: #dfe4ea;
  text-decoration: none;
}

.button-submit:hover {
  background-color: #31363f;
  color: #f0572d;
}

/* Responsive */


@media (max-width: 500px) {

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .select-province-text {
    display: none;
  }

  .formulario input {
    display: flex;
    margin: 8px;
    padding: 8px;
    height: 40px;
    width: 400px;
    font-family: 'Quicksand';
    background-color: #dfe4ea;
    border-width: 1px;
    border-radius: 4px;
  }

  .formulario {
    display: flex;
    flex-direction: column;
  }

  .button-submit {
    margin: auto;
    margin-top: 10px;
  }

}

@media (max-width: 1000px){
  .navbar{
    width: 100%;
  }

  .formulario input{
    width: 500px;
  }
} 