@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
  font-family: 'Quicksand';
  box-sizing: border-box;
}

.title-info {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #31363F;
  color: #DFE4EA;
}

.auto-title {
  font-size: 24pt;
}

.return-button {
  margin: 10px;
  height: 30px;
  width: 60px;
  background-color: #F0572D;
  border-radius: 8px;
  border-width: 0px;
}

.return-button:hover {
  background-color: #DFE4EA;
}

/* location seccion */
.location-info {
  display: flex;
  padding: 30px;
  flex-direction: column;
  background-color: #DFE4EA;
}

.location {
  display: flex;
}

.location-icon {
  margin-right: 5px;
}

.distance {
  margin-left: 20px;
}

/* auto images section */

.img-auto {
  padding: 20px;
  /* position: relative; */
}

.images-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
  margin-bottom: 10px;
  gap: 1rem;
  max-width: 670px; /* aca pones el ancho que quieras*/
  max-height: 600px;
  margin-left: auto;
  margin-right: auto; /*esto es para que te quede centrado*/
}

.images-group img {
  border-radius: 8px;
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

.image {
  grid-column: 1/3;
  grid-row: 1/3;
}

/* car description */
.description {
  padding: 30px;
}

.description-message {
  font-size: 20pt;
}

.description p {
  margin-bottom: 10px;
}

/* details */

.details-section {
  padding: 30px;
}

.details-title {
  font-size: 20pt;
  margin-bottom: 10px;
}

hr {
  border-color: #F0572D;
  margin-bottom: 10px;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.details div {
  display: flex;
  margin: 10px;
}

.details div p {
  margin-left: 5px;
}

.icon {
  color: #F0572D;
  font-size: 20px;
}

/* rules */

.rules-and-recommendations {
  padding: 30px;
}

.rules-and-recommendations-title {
  font-size: 20pt;
  margin-bottom: 10px;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.sections div h4 {
  margin-bottom: 30px;
  font-size: 16pt;
}

.sections div p {
  margin-bottom: 20px;
}


/* bookings */
.bookings-zone {
  padding: 30px;
  background-color: #DFE4EA;
  padding-bottom: 60px;
}


.bookings-zone-title {
  margin-bottom: 15px;
  font-size: 20pt;
}


.calendary-and-booking {
  display: flex;
  align-items: center;
  /* justify-content: space-around;
  align-items: center; */
}

/* calendary */
.calendary {
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  border-width: 0px;
}

/* reservation seccion */
.starting-reservation {
  margin-left: 50px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 450px;
  text-align: center;
  box-shadow: 4px 4px 4px #a2a1a1;
}

/* reservation mensagge */
.reservation-mensagge {
  /* color: #F0572D; */
  margin-bottom: 20px;
}

/* boton de reserva */
.booking-button {
  background-color: #F0572D;
  color: #31363F;
  padding: 10px;
  width: 400px;
  border-width: 0px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 2px 2px 2px #a2a1a1;
}

.booking-button:hover {
  background-color: #31363F;
  color: #F0572D;
}

/* .button-booking{
  position: relative;
  bottom: 200px;
  left: 800px;
  background-color: #F0572D;
  color: #31363F;
  padding: 10px;
  width: 400px;
  border-width: 0px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 2px 2px 2px #a2a1a1;
}

.button-booking:hover{
  background-color: #31363F;
  color: #F0572D;
} */


@media (max-width: 500px) {
  .view-more-button {
    display: none;
  }

  .description p {
    margin-bottom: 30px;
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .rules-and-recommendations .sections {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .rules-and-recommendations .sections h4 {
    margin-bottom: 10px;
    margin-top: 20px;
  }


  .rules-and-recommendations .sections p {
    margin-bottom: 10px;
  }

  .bookings-zone {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .calendary-and-booking {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    text-align: center;

  }

  .calendary {
    width: 700px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  .starting-reservation {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 40px;
    justify-content: center;
    margin-right: 20px;
    margin-left: 0px;
  }

  .calendario{
    padding: 30px;
  }

}