@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.createAcount button {
  color: #31363f;
  background-color: #dfe4ea;
}

.createAcount button:hover {
  color: #dfe4ea;
  background-color: #f0572d;
}
