*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.formulario {
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orangered;
}

.formCreateAcount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formularioCA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caEmailContrasena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formualarioLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

